/*----------------------------------- */
/*BASIC SETUP */
/*----------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----------------------------------- */
/*REUSABLE COMPONENT */
/*----------------------------------- */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

html{
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
/*----------------------------------- */
/*HEADER */
/*----------------------------------- */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)), url("img/background-header-img.jpg") ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header-box{

    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*--------HEADINGS---------------- */

h1,h2,h3{
    margin-bottom: 20px;
    text-transform: uppercase;
    word-spacing:4px ;
}

h1{
    color: #ffffff;
    font-size: 240%;
    letter-spacing: 1px;
    font-weight: 300;
}

h2{
    font-size: 120%;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;

}

h3{
    font-size: 120%;
    font-weight: 300;
}

h2:after{
    display: block;
    content: " ";
    background-color: #e67e22;
    height: 2px;
    width: 100%;
    margin: 30px auto;
}

/*-----------BUTTONS--------------- */

.btn:link,btn:visited,input[type=submit] {
    display: inline-block;
    padding: 10px 30px ;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s,border 0.2s , color 0.2s;
}

.btn-full,btn:visited,input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22 ;
    color: white;
    margin-right: 15px;

}

.btn:hover,btn:active,input[type=submit]:active,input[type=submit]:hover{
    background-color: #bf6516;
}

.btn-ghost,btn:visited{
    border: 1px solid #e67e22 ;
    color: #e67e22;

}

.btn-ghost:hover{
    color: white;
}

.logo{
    width: 20%;
    height: 20%;
    border-radius: 100px;
    float: left;
    margin-top: 20px ;
}

.main-nav{
    float: right;
    list-style: nones;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90% ;
}

.main-nav li a:hover{
    color: #e67e22;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90% ;
    border-bottom: 1px solid #e67e22 ;
    transition: border 0.4s , color 0.4s;
    padding-bottom: 10px;
}
.icon-design{
    height: 50px;
    width: 70%;
    margin-left:15%;
    margin-top: 15px;
    margin-bottom: 10px;
}

section{
    padding: 80px ;
}

.long-copy{
    line-height:145% ;
    width: 70%;
    margin: 0 auto 40px;
}

.box{
    padding: 1%;
}
 .meal-list {
     display: flex;
     list-style: none;
     align-items: center;
     margin: 0;
     padding: 0;
     background-color: black;

 }
figure{
    overflow: hidden;
}

.meal:hover{
    opacity: 1.5;
    transform: scale(1.03);
}
.meal {
    width: 100%;
    transition: transform 0.5s;
    transform: scale(1.15);
    opacity: 0.7;
}

#iphone{
    width: 45%;
    height: 45%;
    margin: 2px 0px 0px 40px;
}
.steps-box{
    margin-top: 30px;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 6%;
}

.steps-box:last-child{
    padding-left:3% ;
}
.works-step{
    display: inline-block;
    margin-bottom: 8%;
}
.btn-apps {

}
#google-store-img{
    width: 40%;
    height: 40%;
}
#app-store-img{
    width: 37.5%;
    height: 37.5%;
}

.circle {
    width: 50px;
    color: #555555;
    border: #e67e22 solid 2px;
    border-radius: 50%;
    height: 50px;
    float: left;
    padding: 5px 5px 5px 13px;
    font-size: 150%;
    margin-right: 15px;
}

img{
    width: 100%;
    height: auto;
}

.icon-color,.icon-color + a{
    color: #e67e22!important;
}
.ion-icon{
    padding:3%;
}

.cities{
    display: inline-block;
    margin-left: 10px;
}

.reviews-section{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url("img/background-2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
.profil-picture{
    width: 30%;
    height: 30%;
    border-radius: 500px;
    vertical-align: middle;
    margin-right: 5%;
}

blockquote:before{
    position: absolute;
    content: "\201C";
    font-size: 400%;
    display: block;
    top: 2px;
    left: 0;
}
blockquote{
    position: relative;
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}

cite{
    font-size: 90%;
    display: block;
    padding: 3%;
}
.price-plan-section{
    background-color: #f4f4f4;
}
.plan-box{
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;
    background-color: white;
    padding: 5%;
}

li {
    list-style: none;
}

.plan-box div{
    padding: 5%;
    border-bottom: 1px solid #cecece;
}

.price-details{

    font-size: 300%;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price-meal{
    font-size: 80%;
}
.plan-box div:last-child{
    text-align: center;
    border:0;
}
.month {
    font-size: 40%;
}

ul li{
  padding: 5px 0;
}
#submit-btn{
    text-align: center;
}
.footer-nav li{
    float: left;
    margin: 2%;
    color: #e67e22;
}
.social-links li {
    display: inline;
}
.logo-foooter{
    float: right;
    margin-left: 2%;
    color: #e67e22;

}
.footer-section{
    background-color: #5c5c5c;
}

.copyright{
    color: white;
    margin-bottom: 5%;
}
input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px #e67e22 solid;
}